﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/Content/kendo/2013.2.716/kendo.common.min.css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/kendo/2013.2.716/kendo." + @ViewBag.theme + ".min.css")" rel="stylesheet" />
@*        <script src="~/Scripts/kendo/2013.2.716/jquery.min.js"></script>*@
    <script src="~/Scripts/jquery-2.0.3.min.js"></script>
    <script src="~/Scripts/underscore.js"></script>
    <script src="~/Scripts/knockout-2.3.0.js"></script>
    <script src="~/Scripts/kendo/2013.2.716/kendo.web.min.js"></script>
    <script src="~/Scripts/knockout-kendo.min.js"></script>
</head>
    <body>
        <div>
            @RenderBody()
        </div>
    </body>
</html>
