﻿/*

 #navcontainer ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
     width: 400px;
}

#navcontainer ul li { display: inline; margin-right: 50px;}

#messagesPanel {
    background-color: silver;
}

.serverInfo { color: green; margin-right: 100px; font-weight: bold; }*/

body {
    font-family: 'Droid Sans', DroidSansWeb, 'Segoe UI', 'Lucida Sans Unicode', Arial, Helvetica, sans-serif;
}

#menu .menuItemSelected {
    font-weight: bold;
    text-decoration: underline;
}

#summaryPanel {
    width: 33%;
    float: left;
    margin-right: 0.5%;
}

#messagesPanel {
    width: 33%;
    float: left;
    margin-right: 0.5%;
}

#messages {
    min-height: 400px;
    max-height: 400px;
    overflow-y: auto;
}

#usersPanel {
    width: 33%;
    float: left;
}

#users {
    min-height: 400px;
    max-height: 400px;
    overflow-y: auto;
    /*border: none;*/
}

.userStatus
{
    height: 32px;
    width: 32px;
    background-image: url(../images/light/userStatus.png);
    display: inline-block;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    -webkit-background-size: 100%;
    background-size: 100%;

     float:left;
     /*padding:5px;*/
     /*border:1px solid gray;*/
     margin: 5px 5px 5px 5px;
}

.statusActive {
    background-color: greenyellow;
}

.statusInactive {
    background-color: gray;
}

.lbl {
    display: inline-block;
}

.summary {
    padding-left: 10px;
    display: inline-block;
    font-weight: bold;
}



